<div id="customerbar">
    
    <h2 class="green">Våra intressenter</h2>
    
    <div id="innercustomerbardiv">        
        <img src="../../Content/Images/Customer/Sundfrakt.gif" alt="Sundfrakt" class="customerimage" /><br />
        <img src="../../Content/Images/Customer/SAS.gif" alt="Sundfrakt" class="customerimage" /><br />
        <img src="../../Content/Images/Customer/DHL.gif" alt="Sundfrakt" class="customerimage" /><br />
        <img src="../../Content/Images/Customer/Schenker.gif" alt="Sundfrakt" class="customerimage" /><br />
        <img src="../../Content/Images/Customer/SJ.gif" alt="Sundfrakt" class="customerimage" />
    </div>
</div>