<div id="customerbar">
    
    <h2 class="green">@Resources.Global.customerbar_supporters </h2>
    
    <div id="innercustomerbardiv">        
        <img src="../../Content/Images/midnordic.gif" alt="logo" class="customerimage" width="75%" height="75%"/><br />
      <!--  <img src="../../Content/Images/Customer/SAS.gif" alt="Sundfrakt" class="customerimage" /><br />
        <img src="../../Content/Images/Customer/DHL.gif" alt="Sundfrakt" class="customerimage" /><br />
        <img src="../../Content/Images/Customer/Schenker.gif" alt="Sundfrakt" class="customerimage" /><br />
        <img src="../../Content/Images/Customer/SJ.gif" alt="Sundfrakt" class="customerimage" />
   --> </div>
</div>