<ul id="flagMenu">
    <li><a href="#" id="no" alt="Change language to Norwegian"><img src="../../Content/Images/NOflag.gif" /></a></li>
    <li><a href="#" id="se" alt="Change language to Swedish"><img src="../../Content/Images/SEflag.gif" /></a></li>
    <li><a href="#" id="fi" alt="Change language to Finnish"><img src="../../Content/Images/FIflag.gif" /></a></li>
    <li><a href="#" id="en" alt="Change language to English"><img src="../../Content/Images/ENflag.gif" /></a></li>
</ul>
