@{    
    var siteMap = SiteMap.RootNode.ChildNodes;        
}

<ul id="menu" class="tabmenu">
    
    @foreach (SiteMapNode node in siteMap)
    {
        <li>
            <a href="@node.Url">@node.Title</a>                
        </li>
    }

</ul>