<ul id="topMenu">   
    <li>@Html.ActionLink("Frågor och svar", "FAQ", "Support")</li>
    <li>@Html.ActionLink("Kontakta oss", "Contact", "About")</li>
    
    @if (User.IsInRole("Administrators")) { 
        <li>@Html.ActionLink("Admin", "Index", "Admin", new { area = "Admin" }, null)</li>
    }
</ul>