<ul id="topMenu">
    <li>@Html.ActionLink("Demo LogistikMäklaren", "Index", "Demo")</li>
    <li>@Html.ActionLink("Frågor och svar", "FAQ", "Support")</li>
    <li>@Html.ActionLink("Kontakta oss", "Contact", "About")</li>
</ul>