@model Logistikcenter.Web.Areas.ShippingAgentContent.Models.LegModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>LegModel</legend>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
