

<h2> @ViewBag.title  </h2>
<p>North East Cargo Link II —project aims to develop and promote the east-west Midnordic Green Transport Corridor as a cost-effective and environmentally friendly transport route. We aim to show the possibilities, potential and benefits of the Corridor to business life, decision makers and other related actors. </p>